Django
django-allauth
django-cors-headers
djangorestframework
djangorestframework-simplejwt
joblib
keras
Keras-Preprocessing
matplotlib
numpy
opencv-python
pandas
Pillow
pydicom
scikit-image
scikit-learn
scipy
tensorflow
Werkzeug