<div class="flex flex-col h-auto w-full max-w-screen-md mx-auto p-6 mt-3 pt-0">
    <div class="grid bg-card grid-cols-3 gap-16 flex items-center mb-2">
        <div class="grid-cols-1 m-2 lg:col-span-1 flex items-center">
            <div
                class="mx-auto flex h-[60px] w-[60px] items-center justify-center rounded-full bg-blue-100"
            >
                <svg
                    height="24"
                    viewBox="0 0 24 24"
                    width="24"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M20.822 18.096c-3.439-.794-6.641-1.49-5.09-4.418 4.719-8.912 1.251-13.678-3.732-13.678-5.082 0-8.465 4.949-3.732 13.678 1.598 2.945-1.725 3.641-5.09 4.418-2.979.688-3.178 2.143-3.178 4.663l.005 1.241h1.995c0-3.134-.125-3.55 1.838-4.003 2.851-.657 5.543-1.278 6.525-3.456.359-.795.592-2.103-.338-3.815-2.058-3.799-2.578-7.089-1.423-9.026 1.354-2.275 5.426-2.264 6.767-.034 1.15 1.911.639 5.219-1.403 9.076-.91 1.719-.671 3.023-.31 3.814.99 2.167 3.707 2.794 6.584 3.458 1.879.436 1.76.882 1.76 3.986h1.995l.005-1.241c0-2.52-.199-3.975-3.178-4.663z"
                    />
                </svg>
            </div>
            <div class="ml-4">
                <div class="text-center lg:text-left">
                    <h2 class="mt-2 font-bold text-zinc-700">
                        {{ getPatient().firstName }} {{ getPatient().lastName }}
                    </h2>
                    <h2 class="font-medium text-muted text-zinc-500">
                        {{ getPatient().patientId }}
                    </h2>
                </div>
            </div>
        </div>

        <div class="col-span-1 lg:col-span-2 flex justify-end">
            <button
                (click)="goToChart()"
                class="ml-4 m-2 px-4 py-2 text-sm font-medium text-white bg-primary rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-primary dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            >
                Go to Chart
            </button>
        </div>
    </div>

    <div class="bg-card p-6 mt-2">
        <div>
            <!-- <span>{{ progressInfo.fileName }}</span> -->
            <mat-toolbar *ngIf="showProgress" class="progress-bar">
                <mat-progress-bar
                    color="primary"
                    [value]="progressInfos.value"
                ></mat-progress-bar>
                <span class="progress">{{ progressInfos.value }}%</span>
            </mat-toolbar>
        </div>

        <div class="grid grid-cols-4 sm:grid-cols-3 gap-16 mb-2">
            <div class="sm:col-span-2 flex items-center">
                <label
                    class="flex cursor-pointer appearance-none justify-center rounded-md border border-dashed border-gray-300 bg-white px-3 py-3 text-sm transition hover:border-gray-600 focus:border-solid focus:border-blue-600 focus:outline-none focus:ring-1 focus:ring-blue-600 disabled:cursor-not-allowed disabled:bg-gray-200 disabled:opacity-75"
                    tabindex="0"
                >
                    <span
                        for="photo-dropbox"
                        class="flex items-center space-x-2"
                    >
                        <svg
                            class="h-6 w-6 stroke-gray-400"
                            viewBox="0 0 256 256"
                        >
                            <path
                                d="M96,208H72A56,56,0,0,1,72,96a57.5,57.5,0,0,1,13.9,1.7"
                                fill="none"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="24"
                            ></path>
                            <path
                                d="M80,128a80,80,0,1,1,144,48"
                                fill="none"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="24"
                            ></path>
                            <polyline
                                points="118.1 161.9 152 128 185.9 161.9"
                                fill="none"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="24"
                            ></polyline>
                            <line
                                x1="152"
                                y1="208"
                                x2="152"
                                y2="128"
                                fill="none"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="24"
                            ></line>
                        </svg>
                        <span class="text-xs font-medium text-gray-600">
                            Drop files to Upload, or
                            <span class="text-blue-600 underline">browse</span>
                        </span>
                    </span>
                    <input
                        (change)="selectFiles($event)"
                        id="photo-dropbox"
                        type="file"
                        class="sr-only"
                    />
                </label>
                <button
                    (click)="uploadFiles()"
                    class="block ml-4 px-4 py-2 text-sm font-medium text-white bg-primary rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-primary dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                >
                    Predict
                </button>

                <button
                    class="block ml-4 px-4 py-2 text-sm font-medium text-white bg-gray-400 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-primary dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                    (click)="openModal()"
                >
                    Feedback
                </button>
            </div>
        </div>

        <div class="container">
            <div
                class="card bg-card column rounded-md border border-dashed border-gray-300 hover:border-gray-600 focus:border-solid"
            >
                <div class="column-content rounded-md">
                    <img
                        (click)="onViewImage(previews[0])"
                        class="h-86 rounded-lg max-w-full"
                        [src]="previewImg | async"
                    />
                    <!--<div class="card-footer py-3 px-3 bg-gray-400">
                        <strong>Orginal Image</strong>
                    </div> -->
                </div>
            </div>

            <div
                class="card bg-card column rounded-md border border-dashed border-red-300 hover:border-red-600 focus:border-solid"
            >
                <div class="column-content">
                    <img
                        (click)="onViewImage(prediction_loc)"
                        class="h-86 rounded-lg max-w-full"
                        [src]="prediction_loc$ | async"
                    />
                    <div class="card-footer mt-2 py-3 px-3 bg-gray-100">
                        <strong class="text-red-600">{{
                            prediction_class$ | async
                        }}</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
